<div class="navbar" style="background-color: #161e29; border-bottom: 1px solid #2e3c51;">
    <ul class="nav">
        <li class="nav-item nav-item-hover">
            <a class="nav-link" href="https://github.com/Blandskron" target="_blank"><img src="https://img.shields.io/badge/GitHub-%23181717?style=flat&logo=github&logoColor=%23181717&labelColor=white&color=%23181717"></a>
        </li>
        <li class="nav-item nav-item-hover">
            <a class="nav-link" href="https://www.linkedin.com/in/blandskron/" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-%230A66C2?style=flat&logo=linkedin&logoColor=%230A66C2&labelColor=white&color=%230A66C2"></a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" style="color: white;">
                <button type="button" class="btn btn-outline-light">Login</button>
            </a>
        </li>
    </ul>
</div>
