<nav class="navbar navbar-expand-lg" style="background-color: #161e29; border-bottom: 1px solid #2e3c51;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: #ff0;">Full Stack Developer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}" style="color: white;">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'softskills' %}" style="color: white;">Softskills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}" style="color: white;">Contact me</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expense_create' %}" style="color: white;">Expense Create</a>
                    </li>
                {% else %}

                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expense_list' %}" style="color: white;">Expense List</a>
                </li>
            {% else %}

            {% endif %}
            </ul>      
        </div>
    </div>
</nav>