{% extends 'base.html' %}

{% block title %}Lista de blogs{% endblock %}

{% block content %}
    <h2>Lista de blogs</h2>
    <div class="row">
        {% for blog in blogs %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">
                            {{ blog.content|slice:":100" }}
                            <br>
                            <a href="{% url 'blog_detail' blog.id %}" class="btn btn-primary">Leer Completo</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
